.container {
    width: 100%;
}

.input-group-text{
    width: 35%;
}

.input-group-text{
    color: #ffffff;
    background-color: #f7c80e;
}


.btn-primary{
    background-color: #f7c80e;
    border-color: #212529;
}